@font-face {
    font-family: "Helvetica";
    src: url("./Helvetica.ttf") format("truetype");
}

@font-face {
    font-family: "HelveticaBold";
    src: url("./helveticaBold.ttf") format("truetype");
}

@media (prefers-color-scheme: light) {
    .menu{
        background-color: #2A7075;
    }
    .menu-button p{
        color: black;
    }
    body{
        background-color: #E7F6F2;
    }
    .menu-button{
        background-color: #A5C9CA;
    }
    ::-webkit-scrollbar-thumb {
        background: #E7F6F2;
    }
    ::-webkit-scrollbar{
	    background-color: #E7F6F2;
    }
    ::-webkit-scrollbar-thumb{
	    background-color: #A5C9CA;
    }
}

@media (prefers-color-scheme: dark) {
    .menu{
        background-color: rgb(38, 61, 67);
    }
    .menu-button p{
        color: white;
    }
    body{
        color: white;
        background-color: #2C3333;
    }
    .menu-button{
        background-color: #395B64;
    }
    ::-webkit-scrollbar-thumb {
        background: #2C3333;
    }
    ::-webkit-scrollbar{
	    background-color: #2C3333;
    }
    ::-webkit-scrollbar-thumb{
	    background-color: #395B64;
    }
    header{
        background-color: #263d43;
    }
}

@media (max-width: 767px) {
    .menu-button{
        padding: 0.75rem;
        width: 3rem;
    }
    .menu{
        padding: 0 4rem 0;
    }
    .menu-button p[id="1"]:after{
        content: "⌂";
    }
    .menu-button p[id="2"]:after{
        content: "✉";
    }
    .menu-button p[id="3"]:after{
        content: "ℹ";
    }
    .menu-button p{
        font-size: x-large;
    }
}

@media (min-width: 768px){
    .menu{
        padding: 0 8rem 0;
    }
    .menu-button{
        width: 16rem;
    }
    .menu-button p[id="1"]:after{
        content: "Accueil/Menu";
    }
    .menu-button p[id="2"]:after{
        content: "Nous Contacter";
    }
    .menu-button p[id="3"]:after{
        content: "À propos";
    }
}

.underline{
    text-decoration: underline;
}

.bold{
    font-family: 'helveticaBold';
}
.italic{
    font-style: italic;
}

.menu{
    position: sticky;
    top: 0;
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding-bottom: 1rem;
}

header{
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
}

.menu-button{
    border-radius: 0.75rem;
    border: solid 2px #000;
    box-shadow: 0px 3px 3px black;
}

.menu-button:active{
    transition: 0.2s;
    box-shadow: none;
    transform: translateY(3px);
}

.menu-button p{
    font-family: "HelveticaBold";
    text-transform: uppercase;
    padding: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
}

.menu-button:hover{
    opacity: 0.65;
}

h1{
    text-align: center;
    font-family: "HelveticaBold";
}

body {
    font-family: "Helvetica";
    user-select: none;
}

a{
    text-decoration: none;
}

::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 0.5rem;
}

::-webkit-scrollbar
{
	width: 0.6rem;
}

::-webkit-scrollbar-thumb
{
	border-radius: 0.5rem;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

html {
    scroll-behavior: smooth;
}