body{
    margin: 0;
}

header{
    background-color: rgb(42, 112, 117);
    color:white;
    font-size: larger;
    border-bottom-left-radius:0.6rem;
    border-bottom-right-radius: 0.6rem;
    border-bottom: solid black 4px;
    display: flex;
    justify-content: center;
}

header div h1{
    text-shadow: -2px 0px 0px #000000, 2px 0px 0px #000000,0px -2px 0px #000000, 0px 2px 0px #000000;
    font-size: 3.5rem;
}

header div{
    display: flex;
    align-items: center;
    
}

header div img{
    width:4.5rem ;
    border: solid rgb(200, 200, 200) 1px;
    border-radius: 100%;
    margin-left: 1.2rem;
}

.textblock{
    background-color: #B3D5D6;
    padding: 1rem 3rem 1rem 3rem;
    margin: 3rem 0 3rem 0;
    line-height: 1.5rem;
    text-align: justify;
}




h2{
   font-size: 1.5rem;
}

.return-top{
    position: fixed;
    bottom: 3rem;
    right: 1rem;
    padding: 0.5rem 0.5rem 0.3rem 0.5rem;
    border-radius: 3rem;
    background-color: white;
    box-shadow: 0px 3px 0px black;
}
.return-top:active{
    box-shadow: none;
    transform: translateY(3px);
}

.return-top img{
    width: 2rem;
}

footer p{
    margin: 0;
    text-align: right;
    font-size: small;
    opacity: 70%;
}

footer{
    margin-top: 2rem;
}

@media(prefers-color-scheme: dark){
        main {
            background-color: #2C3333;
        }

        body{
            color: white;
        }
    
        .textblock{
            background-color: #395B64;
        }
}